:root {
  --mat-dialog-container-max-width: 1200px;
  --mat-dialog-container-shape: var(--mat-sys-corner-large);

  // Smaller sized dialog
  --mat-dialog-actions-padding: 0;
  --mat-dialog-headline-padding: 0 12px 7px;
  --mat-dialog-with-actions-content-padding: 12px 12px;
}

:root .mat-mdc-dialog-surface {
  background-color: var(--mat-sys-surface-container);
  box-shadow: var(--mat-sys-level3);
}

:root .mat-mdc-dialog-container {
  max-height: calc(100vh - 2rem);
}

.mat-mdc-dialog-inner-container > .mat-mdc-dialog-surface {
  padding: 1rem;
}

.dialog-header {
  margin: -1rem -1rem 0 -1rem;
  padding: 1rem;
  border-bottom: 2px dashed var(--mat-sys-outline-variant);
}
