.image-overlay {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;

  animation: overlay-fade 1000ms cubic-bezier(0.32, 0, 0.67, 0) forwards;
}

@keyframes overlay-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
  }
}
