/* FONT OVERRIDE (keep or change if u like it, remove for default fonts) + no rounded corners anywhere */

/* VARIABLES */

:root {
  /* ELEMENT VARIABLES */

  --main-bgcolor: #fff9f2;

  --main-textcolor: #494949;

  --container-bordercolor: none;

  --link-textcolor: #faa55b;

  --link-textcolor-hover: #faa55b;

  --link-textcolor-visited: #faa55b;

  --button-bgcolor: #83254f;

  --button-bgcolor-hover: #5e1b39;

  --button-accent-color: #a8a299;
  --mat-list-list-item-label-text-color: #83254f !important;
  --button-accent-color-hover: hotpink;

  --element-bgcolor: #fff;

  --username-textcolor: #545351;

  --username-textcolor-hover: white;

  --url-textcolor: cyan;
  --mat-sys-surface-container: #83254f;

  --popup-textcolor: black;

  --popup-bgcolor: white;

  --color-trans: 0.37s cubic-bezier(0.77, 0, 0.23, 1);

  --image-transoff: 0.37s cubic-bezier(0.88, 0.52, 0.48, 1);

  --image-trans: 0.37s cubic-bezier(0.81, -0.19, 0.27, 0.34);

  --mat-sys-outline: #faa55b;
  /* ^ this changes the color of the timestamp text/associated icon on posts*/

  --mat-badge-background-color: #faa55b;
  --mat-badge-text-color: #83254f;

  /* ^ these two change your "notifications" number indicator */

  --mat-mdc-tooltip-trigger: black;
  /* ^ idk what this is */

  .mdc-button__label {
    color: var(--button-accent-color);
    text-shadow: 1px 1px 0px #fff;
  }

  /* DASHBOARD BACKGROUND */

  .mat-drawer-content {
    background-color: var(--main-bgcolor) !important;
  }
  /* ^ you can put an image here [and a lot of other places] with background-image: url('url.webp');. use a link to a file you have uploaded directly to wafrn*/

  /* REFRESH BUTTON */
  .mat-mdc-mini-fab {
    background-color: #83254f !important;
  }

  .mat-mdc-mini-fab fa-icon {
    color: #f8efe3 !important;
  }

  /* SIDE MENU */

  .instance-logo {
    content: url('/api/cache?media=https%3A%2F%2Fmedia.wafrn.net%2F1758156049860_f04a906b9c6b976889ce48031157348f0eb1ac8f_processed.webp');
  }
  /* ^ use a wafrn upload link here too */

  .mat-drawer-inner-container {
    background-color: #83254f;
  }

  mat-nav-list {
    background-color: #83254f;
  }

  mat-nav-list fa-icon {
    color: #f8efe3;
  }

  mat-drawer hr {
    border-color: #faa55b !important;
  }

  /* ^ side menu container and buttons [respectively]. idk what the rest below do just leave them off or keep digging*/

  a.mat-mdc-list-item.route-active,
  a.mat-mdc-list-item.subroute-active {
    color: #83254f !important;
    background: #f8efe3 !important;
    --mat-list-list-item-label-text-color: #83254f;
    --mat-list-list-item-container-color: #f8efe3;
  }

  mat-nav-list .mdc-list-item__primary-text {
    color: #f8efe3 !important;
  }

  a.mat-mdc-list-item.route-active .mdc-list-item__primary-text,
  .mat-mdc-menu-content a.mat-mdc-list-item .mdc-list-item__primary-text,
  a.mat-mdc-list-item.subroute-active .mdc-list-item__primary-text {
    color: #83254f !important;
  }

  a.mat-mdc-list-item.route-active fa-icon,
  a.mat-mdc-list-item.subroute-active fa-icon {
    color: #83254f !important;
  }

  a.mat-mdc-list-item.subroute-active mat-nav-list .mdc-list-item__primary-text {
    color: #83254f !important;
  }

  /*

mat-drawer.side-menu {}

img[alt="instance logo"] {}

mat-drawer.side-menu hr {}

mat-nav-list {}

mat-nav-list app-menu-item {}

*/

  /* BUTTONS - these may be overwritten by the class of the button, see below */

  button {
    background: var(--element-bgcolor);
    color: var(--main-textcolor);
    border: none;
    transition: var(--color-trans);
  }

  button:hover {
    background: var(--element-bgcolor);
    color: var(--button-accent-color);
    border-color: var(--button-accent-color-hover);
    border-style: dotted;
    border-width: 0px;
    border-radius: 0px;
    transition: var(--color-trans);
  }

  button:active {
    background: var(--element-bgcolor);
    color: var(--button-accent-color);
    border-color: var(--button-accent-color-hover);
    border-style: dashed;
    border-width: 0px;
    border-radius: 0px;
    transition: var(--color-trans);
  }

  /* BUTTONS - use these i think */

  .mat-mdc-unelevated-button.mat-primary {
    background-color: #83254f !important;
    border-color: var(--button-accent-color);
    border-width: 2px;
    color: #f8efe3;
    transition: var(--color-trans);
  }
  .mat-mdc-unelevated-button fa-icon {
    color: #f8efe3;
  }

  .mat-mdc-unelevated-button.mat-primary:hover {
    background-color: var(--button-bgcolor-hover) !important;
    border-color: var(--button-accent-color-hover);
    color: var(--main-textcolor);
    border-width: 0px;
    transition: var(--color-trans);
  }

  .mat-mdc-unelevated-button {
    background-color: #83254f !important;
    border-color: var(--button-accent-color);
    border-width: 0px;
    color: #f8efe3;
    transition: var(--color-trans);
  }

  .mat-mdc-unelevated-button:hover {
    background-color: var(--button-bgcolor-hover) !important;
    border-color: var(--button-accent-color-hover);
    color: var(--main-textcolor);
    border-width: 0px;
    transition: var(--color-trans);
  }

  /* ^ ALT TEXT / SENSITIVE MEDIA / NOTES ETC COLOR */

  /* UNIVERSAL WAFRN CONTAINER */
  .wafrn-container {
    background-color: transparent;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--container-bordercolor);
  }

app-post .wafrn-container, app-notifications .mat-mdc-card.mdc-card.wafrn-container, app-forum-component .wafrn-container
{
background-color: #fff;
color: var(--main-textcolor);
box-shadow: 0px 0px 8px #a6a4a3 !important;
border-radius: 10px 10px 0px 0px;
padding: 0;
}

app-post .wafrn-container button, app-notifications .mat-mdc-card.mdc-card.wafrn-container button, app-forum-component .wafrn-container button
{
  background-color: transparent !important;
}

app-forum-component app-post-ribbon .wafrn-container, app-forum-component app-post-ribbon .ribbon-container
{
  border-radius: 10px;
  padding: 5px 10px 5px 10px !important;
}

  app-search .mat-mdc-card {
    background: #fff;
  }

  app-settings mat-nav-list {
    background: #fff9f2;
  }

  app-settings mat-nav-list .mdc-list-item__primary-text {
    color: #4c4546 !important;
  }

  app-single-notification hr {
    display: none;
  }

  app-single-notification .ribbon-container {
    padding: 5px;
  }

  /* POPUP TOOLTIPS */

  .mdc-tooltip__surface {
    background-color: var(--popup-bgcolor) !important;

    color: var(--popup-textcolor) !important;

    border-radius: 2px;
  }

  /* POST EDITOR */
  .post-editor-data {
    padding: 0px 20px 0px 20px;
  }

  .post-editor-data form {
    padding: 0px 15px 0px 15px;
  }

  .mat-mdc-icon-button svg {
    color: #83254f !important;
  }

  .wafrn-container.wafrn-post-editor {
    background: #fff;
  }

  section#tags.w-full {
    padding: 0px 15px 0px 15px;
  }

  /* POSTS */

  /* POST CONTAINER */

  .mat-mdc-card {
    color: var(--main-textcolor);

    border-radius: 8px;

    border-color: var(--button-accent-color);

    box-shadow: none;
  }

  .initial-post mat-card {
    background: #fff !important;
  }

  :root .post-card {
    padding: 0 !important;
  }

  .fragment-content {
    padding: 1rem;
  }

  /* POST TEXT */

  div.wafrn-text-default {
    color: var(--main-textcolor);

    font-family: Georgia, serif;
  }

  div.content-warning-text {
    padding: 0px 0px 0px 20px;
  }

  /* ASK CONTAINER */
  .ask-container {
    --ask-background-color: #83254f !important;
    padding: 5px 20px 0px 20px;
    color: #f8efe3;
  }

  /* LINK TEXT */

  a {
    color: var(--link-textcolor);
    transition: var(--color-trans);
  }

  a:visited {
    color: var(--link-textcolor-visited);
  }

  a:hover {
    color: var(--link-textcolor-hover);
    transition: var(--color-trans);
  }

  a:active {
    color: var(--link-textcolor-hover);
  }

  &a {
    color: var(--link-textcolor-visited);
  }

  /* DIVIDER LINE */

  app-post hr {
    border-color: var(--button-bgcolor) !important;
    border-width: 2px;
  }

/* POST DATE - you can use these i think but use mat-sys-outline at the top to change both at once*/

  /*

div.date-line {}

svg.fa-globe {}

*/

  /* POSTER INFO */

  .original-poster-name {
    color: var(--username-textcolor) !important;

    transition: var(--color-trans);
  }

  .original-poster-name:hover {
    color: var(--username-textcolor-hover) !important;

    transition: var(--color-trans);
  }

  .original-poster-url {
    color: var(--url-textcolor);

    font-family: monospace;
  }

  .avatar {
    height: 45px;

    width: 45px;
  }

  .avatar img {
    border-radius: 3px;

    height: 45px;

    width: 45px;
  }

  .user-name {
    color: var(--username-textcolor) !important;

    transition: var(--color-trans);
  }

  .user-name:hover {
    color: var(--username-textcolor-hover) !important;

    transition: var(--color-trans);
  }

  span.user-url {
    color: #aeaeae !important;
    font-family: monospace;
    text-shadow: 1px 1px 0px #fff;
  }

  /* FOLLOW BUTTON */

  button.follow-button {
    background: none !important;

    color: #69f0ae !important;

    border: none !important;

    transition: var(--color-trans);
  }

  button.follow-button:hover {
    background: none !important;

    color: var(--link-textcolor-hover) !important;

    border: none !important;

    transition: var(--color-trans);
  }

  /* CONTENT WARNING */

  #fragment-content-warning {
    color: var(--main-textcolor);
    background-color: var(--main-bgcolor);
    font-family: monospace;
  }

  div.fragment-content-warning div.fragment-content {
    background-color: var(--main-bgcolor);
  }

  div.fragment-content-warning button {
    background-color: var(--element-bgcolor);
    border-color: var(--link-textcolor-visited);
  }

  /* REACTS */

  /* i have the backgrounds on all these set transparent. they can be a little finicky. button settings change these */

  app-bottom-reply-bar {
    background: #fff9f2;
    border-top: 1px solid #dfd9d1;
    padding: 5px 15px 5px 15px;
  }

  app-bottom-reply-bar .mat-mdc-outlined-button {
    border: none;
  }

  section.reply-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 0.75ch;
    width: fit-content;
    border-bottom: none !important;
    font-size: 0.8rem;
    margin: 0px 0px 0px 20px;
    background: #83254f;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
  }

  .notes-link {
    border: none;
  }

  #emoji-reactions {
    background: none !important;
    box-shadow: none !important;
    border-width: 0px !important;

    transition: var(--color-trans);
  }

  #emoji-reactions button:hover {
    background: none !important;
    box-shadow: none !important;
    transition: var(--color-trans);
  }

#emoji-reactions button {
  background: transparent !important;
}

#emoji-reactions button:hover {
  background:none !important;
   box-shadow:none !important;
  transition: var(--color-trans);
}

  #emoji-reactions .mat-mdc-tooltip-trigger:hover {
    background: none !important;
    box-shadow: none !important;
    border-radius: 0px;
  }

  .mat-mdc-raised-button:not(:disabled) {
    background: none !important;
    box-shadow: none !important;
  }

  /* ^ this is for the stubborn ones */

/* ^ this is for the stubborn ones */

.mat-mdc-button-persistent-ripple {
  color: black !important;
  box-shadow:none !important;
background:none;
}

/* ^ ??? */

app-emoji-react svg {
  fill: var(--link-textcolor);
  background: none !important;
  transition: var(--color-trans);
}

app-emoji-react svg:hover {
  fill: var(--link-textcolor-hover);
  background: none !important;
  transition: var(--color-trans);
}

/* ^ these two change the color of the emoji react button itself, like the smiley with the plus */

div.emojireact-overlay {}

.emoji-reactions
{
padding: 0px 0px 10px 10px;
}

/* TAGS */

a.tag {
  background-color: transparent !important;

  color: #83254f !important;

  transition: var(--color-trans);

  font-family: monospace;
}

a.tag:hover {
  color: var(--link-textcolor-hover) !important;

  transition: var(--color-trans);
}

.tag-list
{
padding: 0px 0px 0px 20px;
}

.ql-snow a {
  color: white;
}

/* ^ changes inline bsky etc. tags*/


/* MENTIONS */

a.mention {
  color: #faa55b !important;
  transition: var(--color-trans);
}

a.mention:hover {
  color: #f8efe3 !important;
  transition: var(--color-trans);
}

.mention {
background-color: #83254f !important;
border-width: 0px !important;
border-radius: 0px !important;
padding: 0 10px;
color: #faa55b !important;
border-radius: 30px !important;
}

/* container of quoted post */

div.quoted-post {
  border-width: 0px;
  background:none;
  border-color: var(--button-accent-color);
  border-style: dotted;
  box-shadow: none;
}

.quoted-post.quote-collapsed::before
{
	box-shadow: none !important;
}

.quoted-post.quote-collapsed {
  max-height: 17.5rem !important;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 0px 0px 10px 0px;
  box-shadow: 0px 0px 20px #e4ddd5 inset;
}

/* EMBED CONTAINER */

.embed-container {
background: rgba(255,255,255, 1);
display:inline;
border: none !important;
}

/* ^ INLINE STACKS PICTURE ON TOP OF LINK TEXT */

.embed-link {
  border-radius: 5px !important;
  border: 1px solid #bbb8b8 !important;
  background: none !important;
}

.embed-link .embed-image-container {
  max-height: 100%;
  max-width: 14em !important;
  display: flex;
}

a.embed-link .embed-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  object-fit: cover;
  padding: 0;
}

.embed-link .mat-typography h2 {
  font-size: 1.1em;
  line-height: 1.1;
  margin-bottom: 10px;
}

.embed-title, .embed-description, .embed-link, .embed-url {
color:black !important;
}

/* MEDIA CONTAINER */
.media-content-container {
background-color: #fff0 !important;;
}

.media-container {
background-color: #fff !important;
border-style:groove;
border-width:0px;
border-radius:0px;
border-color:black;
display: grid;
}

.media-gallery, .media-carousel {
background-color: #fff !important;
border-radius:0px;
margin-left: auto;
margin-right: auto;
}

/* IMAGES */

app-wafrn-media img {
  filter: brightness(0.7);
  transition: var(--image-transoff);
}

app-wafrn-media img:hover {
  filter: brightness(1);
  transition: var(--image-trans);
}

/* MEDIA DESCRIPTION */

app-wafrn-media div.media-description {
  background-color: var(--element-bgcolor) !important;
  border-radius: 0px;
  font-family: monospace;
  font-size: 11px;
}

/* VOTING [lol] */

/*

.mdc-linear-progress__bar-inner {}
.mdc-linear-progress__buffer-bar {}

*/

  /* POST SHARE */

  app-post-actions button:hover {
    background: none !important;
    border-width: 0px;
  }

  svg.fa-share-nodes {
    color: var(--button-accent-color);
    transition: var(--color-trans);
  }

  svg.fa-share-nodes:hover {
    color: var(--button-accent-color-hover);
    transition: var(--color-trans);
  }

  svg.fa-chevron-down {
    color: var(--button-accent-color);
    transition: var(--color-trans);
  }

  svg.fa-chevron-down:hover {
    color: var(--button-accent-color-hover);
    transition: var(--color-trans);
  }

  svg.theme-toggle__within,
  .footer-stack fa-icon {
    color: #faa55b;
  }

  div.mat-mdc-select-panel {
    background-color: #fff !important;
  }

  /* SHARE DROPDOWN */

  .mat-mdc-menu-panel {
    color: var(--link-textcolor);
    background-color: var(--main-bgcolor);
    box-shadow: none !important;
  }

  /* POST ACTIONS [??] */

  /*

app-post hr > div a {}

app-post hr > div a:hover {}

*/

  /* USE THIS TO CHANGE ALL FA-ICONS AT ONCE, individual settings below for post options. turned off by default and i dont know the rest of them */

  fa-icon {
    color: #83254f;
    transition: var(--color-trans);
  }

  fa-icon:hover {
    color: #faa55b;
    transition: var(--color-trans);
  }

  /*

fa-icon[mattooltip="Quote woot"] {
  color: #83254f !important;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Quote woot"]:hover {
  color: #faa55b;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Quick rewoot"] {
  color: #83254f !important;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Quick rewoot"]:hover {
  color: #faa55b;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Delete rewoot"] {
  color: #83254f !important;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Delete rewoot"]:hover {
  color: #faa55b;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Reply woot"] {
  color: #83254f !important;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Reply woot"]:hover {
  color: #faa55b;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Like woot"] {
  color: #83254f !important;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Like woot"]:hover {
  color: #faa55b;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Remove like"] {
  color: #83254f !important;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Remove like"]:hover {
  color: #faa55b;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Delete woot"] {
  color: #83254f !important;

  transition: var(--color-trans);
}

fa-icon[mattooltip="Delete woot"]:hover {
  color: #faa55b;

  transition: var(--color-trans);
}

*\

/* TEXT EDITOR */

  .mat-mdc-dialog-container,
  .mdc-dialog--open,
  .mat-mdc-dialog-inner-container,
  .mdc-dialog--open,
  .mat-mdc-dialog-surface {
    background-color: var(--main-bgcolor) !important;
    border-radius: 0px !important;
  }
  .mat-mdc-dialog-container {
    background-color: var(--element-bgcolor);
    border-width: 4px;
    border-radius: 0px;
    border-style: groove;
    border-color: black;
  }

  /* ^ container box */

  .mdc-floating-label {
    color: white !important;
  }
  .mdc-text-field {
    background-color: #fff !important;
    border-color: #bdbdbd !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 2px #99938d inset;
    border-style: solid;
    border-width: 1px;
  }

  .info-card.caution {
    background-color: #f8efe3 !important;
    color: #83254f !important;
  }

  /* ^ typing field */

  /* PROFILE */

  app-view-blog mat-card.wafrn-container {
  }

  app-view-blog img[alt='user avatar'] {
  }

  .blog-avatar-image {
    border-radius: 45px !important;
  }

  .mat-mdc-card.blog-header {
    background-color: #83254f !important;
    color: #f3e5e3;
    padding: 15px !important;
  }

  /* UNFOLLOW BUTTON */

  .mat-mdc-unelevated-button.mat-warn {
    color: var(--main-textcolor);

    background-color: #f44336;

    transition: var(--color-trans);
  }

  .mat-mdc-unelevated-button.mat-warn:hover {
    background-color: #f44336;

    transition: var(--color-trans);
  }

  /* FOLLOW COUNT */

  /*

div.follow-counts {}

*/

  /*EXTRA STUFF*/

  code {
    display: inline;
    padding: 0 0.2em;
    background-color: white;
    color: black;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    border-radius: 0px;
  }

  pre {
    display: inline;
    padding: 0 0.2em;
    background-color: white;
    color: black;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    border-radius: 0px;
  }

  /*^ markdown stuff */

  /* LOADING - not quite sure this works */

  mat-spinner {
    width: 42px;

    height: 42px;
  }

  circle {
    color: var(--button-accent-color) !important;

    stroke-dasharray: 77px;

    stroke-width: 33px;
  }

  p#if-you-see-this-load-more-posts {
    color: var(--main-textcolor);
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #5e5e5e !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important;
    border-color: #bdbdbd !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px !important;
    box-shadow: 1px 1px 2px #99938d inset;
  }

p#if-you-see-this-load-more-posts {
  color: var(--main-textcolor);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
color: #5e5e5e !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
background-color: #fff !important;
border-color: #bdbdbd !important;
border-style: solid;
border-width: 1px;
border-radius: 5px !important;
box-shadow: 1px 1px 2px #99938d inset;
}

/* ^ changes the theme editor */
