.tag {
  --gradient-colors: var(--gradient-colors-raw) !important;
  --gradient-colors-light: var(--gradient-colors-raw) !important;
  --gradient-colors-dark: var(--gradient-colors-raw) !important;
}
