.tag-list {
  gap: 0.25em;
  margin-inline: unset;
}

.tag {
  padding: 0 0.75ch;
  cursor: pointer;
  background-color: var(--mat-sys-primary-container);
  background-image: linear-gradient(in oklab to right, var(--gradient-colors));
  color: var(--mat-sys-on-primary-container);
  text-decoration: none;
  border-radius: var(--mat-sys-corner-small);
  font-size: 0.8em;
  line-height: 1.3;
  padding-top: 2px;
  word-break: break-all;
  border: 1px solid var(--mat-sys-primary-fixed-dim);
  box-sizing: border-box;

  &:hover {
    background-color: var(--mat-sys-surface-container-high);
    border-color: var(--mat-sys-primary-fixed);
  }

  .tag-text {
    color: var(--on-gradient-colors, var(--mat-sys-on-primary-container));
  }
}
