::ng-deep .mat-mdc-tab-header {
  margin-bottom: 1rem;
  max-width: 800px;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  box-sizing: content-box;
  max-width: 800px;
}

@media screen and (min-width: 992px) {
  ::ng-deep .mat-mdc-tab-header {
    margin-inline: 1.5rem;
  }
  ::ng-deep .mat-mdc-tab-body-wrapper {
    margin-inline: 1.5rem;
  }
}
