.hotkey-help-icon {
  position: fixed;
  z-index: 500;
  bottom: 1em;
  right: 1em;
}

/* Mobile mode breakpoint*/
@media screen and (max-width: 992px) {
  .hotkey-help-icon {
    display: none;
  }
}

.shortcut-list-title {
  padding-bottom: 0.2rem;
  border-bottom: 3px solid var(--mat-sys-outline-variant);
}

.shortcut-list {
  & > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
  }
}

dl {
  margin: 0;
}

dd {
  display: inline-block;
  background-color: var(--mat-sys-surface-dim);
  border-radius: 0.25rem;
  padding: 0.1em 0.25em;
  margin-inline-start: 0;
}
