.page-active {
  --mat-list-list-item-label-text-color: var(--mat-sys-on-primary-container);
  --mat-list-list-item-container-color: var(--mat-sys-primary-container);
}

.settings-save-button {
  border-radius: var(--mat-sys-corner-small);
}

mat-list-item {
  text-decoration: none;
}
