.menu-item-icon {
  display: flex;
  justify-content: center;
}

.active-account .menu-item-content {
}

.menu-item-image {
  min-width: 1.25em;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid var(--mat-sys-outline-variant);

  img {
    background-color: var(--mat-sys-surface-container-highest);
    height: 100%;
    width: 100%;
  }
}

.menu-item-content {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item-arrow {
  rotate: -90deg;
  transition: rotate 100ms linear;
}

.menu-open {
  rotate: 0deg;
}

.subroute-active,
.route-active {
  --mat-list-list-item-label-text-color: var(--mat-sys-on-primary-container);
  --mat-list-list-item-container-color: var(--mat-sys-primary-container);
}
