.upload-button {
  --mat-button-filled-horizontal-padding: 16px;
  border-radius: var(--mat-sys-corner-small);
}
.upload-progress {
  --mat-progress-spinner-active-indicator-color: var(--mat-sys-on-primary);
}
