.settings-blog-header {
  padding: 1rem;
  background-color: var(--mat-sys-surface-container-high);
}
.settings-blog-header-image {
  margin-top: -1rem;
  margin-inline: -1rem;
  background-color: var(--mat-sys-primary-fixed-dim);
  box-shadow:
    0 0 5px -1px rgba(0, 0, 0, 0.1) inset,
    0 0 10px 0 rgba(0, 0, 0, 0.07) inset,
    0 0 18px 0 rgba(0, 0, 0, 0.06) inset;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.settings-blog-avatar-image {
  max-height: 96px;
  height: 96px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--mat-sys-corner-large);
  margin-top: -3rem;
  box-shadow: var(--mat-sys-level2);
  background-color: var(--mat-sys-surface-container-highest);
}
