.post-actions > button {
  aspect-ratio: 1 / 1;
}

.post-actions-menu-span-content {
  display: grid;
  grid-template-columns: 32px calc(100% - 32px);
  align-items: center;
  justify-content: start;
}

.post-actions-menu-span-content .ng-fa-icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

.menu-toggle-hidden {
  visibility: hidden;
  position: absolute;
  inset: 0;
  // evil method to break out of mat-button's relative
  margin-inline: calc(-1 * var(--mat-button-text-horizontal-padding, 12px));
  margin-block: calc(-1 / 2 * ((var(--mat-button-text-container-height, 40px) - 24px)));
}
