.post-action-buttons {
  padding-block: 0.25rem;
  --mat-menu-item-hover-state-layer-color: transparent;
}

.post-actions-menu-span-content {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.75rem;
}

.mat-mdc-menu-item {
  min-height: 40px;
  font-weight: 500;
  font-size: 15px;
}

.menu-toggle-hidden {
  visibility: hidden;
  position: absolute;
  inset: 0;
  // evil method to break out of mat-button's relative
  margin-inline: calc(-1 * var(--mat-button-text-horizontal-padding, 12px));
  margin-block: calc(-1 / 2 * ((var(--mat-button-text-container-height, 40px) - 24px)));
}

.dangerous-option {
  color: var(--mat-sys-error);

  & fa-icon {
    color: var(--mat-sys-error);
  }
}

fa-icon {
  color: var(--mat-sys-primary);
}
